<div class="row">
  <div class = "col-sm-12 mt-3">
    <h4 class="text-center my-4"> Вся информация о валютах всего мира </h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% @currencies.each do |currency| %>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title mb-4"><%= currency.name %></h5>
              <h6 class="card-title mb-4">Курс:  <%= currency.value %></h6>
              <p class="card-text"><%= link_to 'Подробнее', currency_path(currency.char_code), class: 'btn btn-info' %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
