<div class="row">
  <div class="col-sm-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to 'Main page', root_path %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @currency.name %></li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="p-2">
      <h2><%= @currency.name %></h2>
      <p><%= @currency.value %></p>
    </div>
  </div>
</div>